<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp" class="backgroundImg">
      <div class="pageTitle">
        <h1>Building Directory</h1>
      </div>
      
    <div class="container">
      
      <div class="header">
        <div class="banner">
          <div class="headerLogoBox">
            <img src="logo-uf.svg" alt="logo-uf" class="headerLogoImg">
          </div>
        </div>
      </div>

      <div class="row" ng-controller="ListingsController" style="margin-top:125px">
          <div class="listingFormBackground" ng-show="showAdd" ng-click="toggleAdd()"></div>
        <div class="col-md-6">
          <div class="panel panel-default card">
          <div class="input-group" id="searchBar">
            <!-- 

                Implement a way to filter through listings using the search bar 

              -->

            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search Location" ng-model="filter">
          </div>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th><h3>Code</h3></th>
                <th><h3>Building Name</h3></th>
                  <th><button type="button addButton" ng-click="toggleAdd()" class="btn btn-primary"><small>&nbsp;Add&nbsp;</small></button></th>
                <td>
                    <button type="button" ng-if="!showEdit" ng-click="toggleEdit()" class="btn btn-primary"><small>&nbsp;Edit&nbsp;</small></button>
                    <button type="button" ng-if="showEdit" ng-click="toggleEdit()" class="btn btn-success"><small>&nbsp;Done&nbsp;</small></button>
                </td>
              </tr>
              <!-- 

                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings
                -->
              <tr ng-repeat="entries in listings | filter:filter as results" ng-click="showDetails($index)" ng-init="initValues()">
                <td>
                    {{entries.code}}
                </td>
                <td>
                    {{entries.name}}
                </td>
                <td style="vertical-align:middle"><button type="button" ng-if="showEdit" ng-click="deleteListing($index)" class="btn btn-danger" class="btn btn-sm"><small>&nbsp;Delete&nbsp;</small></button></td>
              </tr>
              <tr>
                <td ng-if="results.length == 0">
                  <strong>No results found...</strong>
                </td>
                <td></td>
                <td></td>
              </tr>

            </table>
          </div>
          <!-- 

              Write an HTML form that adds new listings to the directory 

            -->   
        </div>
            <div class="listingForm" ng-show="showAdd">
                <center><h3>Add New Listing</h3></center>
                <form name="newListingForm" ng-submit="addListing()">
                    <ul class="listingFormList">
                        <li>
                            <input placeholder="Name (Required)" ng-model="newListing.name" type="text" required/>
                        </li>

                        <li>
                            <input placeholder="Code (Required)" ng-model="newListing.code" type="text" required/>
                        </li>

                        <li>
                            <input placeholder="Latitude" ng-model="newListing.coordinates.latitude" type="text"/>
                        </li>

                        <li>
                            <input placeholder="Longitude" ng-model="newListing.coordinates.longitude" type="text"/>
                        </li>

                        <li>
                            <input placeholder="Address" ng-model="newListing.address" type="text"/>
                        </li>
                    </ul>
                    <div>
                        <input class="formSubmit" type="submit" value="Submit"/>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="col-md-6">
          <div class="details card" ng-app="listings" ng-controller="ListingsController">
            <center><h4>Detailed Information</h4></center>
            <!-- 

              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature

             -->

            <h3>Name: {{name}} ({{code}})</h3>
            <h5>Coordinates: ({{latitude}}, {{longitude}})</h5>
            <p>Address: {{address}}</p>

          </div>
           <img src="campuslife_8.jpg" class="img-rounded card" alt="Cinque Terre" width="100%" height="auto">
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>