#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 500px;
  overflow: auto;
}
.header {
	background-color: #F8F8F8;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100px;
	z-index: 999;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.banner {
	background-color: #DD661E;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	top: 0px;
	width: 100%;
	height: 50px;
	z-index: 1001;
}
.headerLogoBox {
	background-color: #00529B;
	height: 100px;
	width: 100px;
	padding-left: 13px;
	padding-top: 25px;
	z-index: 1002;
}
.headerLogoImg {
	height: 50px;
	width: 74px;
	z-index: 1003;
}
.backgroundImg {
	background-image: url("bg-texture.png");
    background-color: #F8F8F8;
}

.pageTitle {
    padding-left: 125px;
    padding-top: 35px;
    position: fixed;
    z-index: 1000;
}

.addButton {
    margin-bottom: 10px;
}

.listingForm {
    background: #f8f8f8;
    z-index: 1010;
    position: fixed;
    width: 500px;

    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0px;
}

.listingFormBackground {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    z-index: 1009;
}

.listingFormList {
    list-style: none;
}

.listingFormList input {
    width: 91%;
    margin-bottom: 5px;
    text-align: center;
}

.formSubmit {
    background: #00529B;
    color: #f8f8f8;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    height: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.details {
    padding: 15px 15px 15px 15px;
}

.card {
    background: #f8f8f8;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}